/.idea/
**/target/
.gradle/
**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.iml
/.DS_Store
/web/src/main/resources/static

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*
public/
psd
thumb
sketch
