.sidebar {
  width: 300px;
  grid-area: sidebar;
  border: solid 1px lightgrey;
  transition: width 500ms;

  &--container {
    width: 100%;
  }

  &--item {
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 32px;
    text-decoration: none;
    height: 48px;
    transition: background-color 500ms;
    background-color: rgba(67,160,71, 0);

    &--title {
      color: #000;
    }
  }

  &--item:hover {
    background-color: rgba(67,160,71, 0.1);
  }

  &--active-exit-done {
    width: 0;
  }

  &--active-exit {
    width: 300px;
  }

  &--active-enter-done {
    width: 300px;
  }

  &--active-enter {
    width: 0;
  }
}