.sidebar {
  width: 300px;
  //grid-area: sidebar;
  border: solid 1px lightgrey;
  transition: width 500ms;

  &--container {
    width: 100%;
  }

  &--item {
    text-decoration: none;
    color: #000000;
  }

  &--active-exit-done {
    width: 0;
  }

  &--active-exit {
    width: 300px;
  }

  &--active-enter-done {
    width: 300px;
  }

  &--active-enter {
    width: 0;
  }
}