@use "@material/typography/mdc-typography";
@use "@material/top-app-bar/mdc-top-app-bar";
@import "_variables.scss";

.container {
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
    "header header"
    "main main";
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}
